main {
    margin-right: 15%;
    margin-left: 15%;
}

section {
    font-size: 25px;
    max-width: 1000px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding: 5px 25px;
}

section p {
    line-height: 2em;
    font-weight: 400;
}

article {
    margin: 10px auto;
    height: auto;
    padding-bottom: 15px;
}

article ul {
    list-style-type: square;
    padding: 10px;
    font-size: 20px;
    margin-left: 30px;
}

article p {
    line-height: 1.5em;
}

.intro-wrap {
    margin: 25px auto;
}

.content-wrap {
    margin: 20px auto;
}

#aboutme-wrap {
    padding: 10px 15px;
}

#aboutme-wrap p {
    padding-top: 5px;
}

#aboutme-pic img {
    border-radius: 400px;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

#aboutme-pic {
    position: relative;
    width: auto;
    height: auto;
    float: right;
    margin: 20px 50px 10px 20px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    main {
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .intro-wrap {
        margin: 10px 8%;
    }

    .content-wrap {
        margin: 10px 8%;
    }
    
}

@media only screen and (max-width: 1300px) {
    #aboutme-pic {
        float: none;
        margin: 20px;
    }

    #aboutme-wrap p {
        padding-top: 0;
    }
}