section {
    font-size: 25px;
    max-width: 1000px;
    text-align: center;
    height: auto;
    margin: 30px auto;
    padding: 5px 50px;
}

section p {
    line-height: 2em;
    font-weight: 400;
}

article {
    margin: 10px auto;
    height: auto;
    padding-bottom: 15px;
}

article ul {
    list-style-type: square;
    padding: 10px;
    font-size: 20px;
    margin-left: 30px;
}

article p {
    line-height: 1.5em;
}

article img {
    border-radius: 400px;
    width: auto;
}

#aboutme-pic {
    position: relative;
    width: auto;
    float: right;
    margin: 20px;
}

.consult-intro {
    margin: 30px 20%;
}

.content-wrap {
    margin: 10px 15%;
}

#aboutme-wrap {
    padding: 10px 15px;
}

#aboutme-wrap p {
    padding-top: 20px;
}


