* {
    padding: 0;
    margin: 0;
}

body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/kitsune_169.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Navigation */
nav ul {
    margin: 0 auto;
    width: 100%;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav p {
    float: left;
    margin-top: 2px;
    margin-left: 2%;
    padding: 15px 25px;
}

nav li a {
    display: block;
    padding: 15px;
}

nav li a:hover {
    background-color: rgba(212, 106, 49, .85);
}

.nav-bar {
    background-color: rgba(43, 44, 46, 0.7);
    border-bottom: rgb(212, 106, 49) solid 5px;
}

.nav-menu-label {
    display: none;
    padding: 5px;
    margin-bottom: 100px;
}

.menu-bar {
    width: 35px;
    height: 4px;
    background-color: #d46a31;
    margin: 6px 0;
}

.nav-mobile, #menu-toggle {
    display: none;
}

/* Home Content */
.about {
    background-color: rgba(43, 44, 46, 0.7);
    border: rgba(212, 106, 49, .85) solid 2px;
    position: absolute;
    top: 25%;
    left: 8%;
    padding: 20px;
    width: fit-content;
}

.about h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.about p {
    font-size: 25px;
    padding-bottom: 5px;
}

/* Quick Classes*/
.text-style {
    color: #fff;
}

.none {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

@media only screen and (max-width: 1024px) {
    .about {
        top: auto;
        left: auto;
        width: 100%;
        text-align: center;
        bottom: 10px
    }

    .about p {
        display: inline-block;
        justify-content: space-between;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 657px) {
    .nav-mobile {
        display: inline;
    }
    
    .nav-menu-mobile {
        width: 0;
        height: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .logo {
        margin: 0 auto;
        float: right;
    }

    .nav-menu-mobile li {
        width: 200px;
        margin-left: 8%;
    }

    .nav-menu-label {
        display: block;
        cursor: pointer;
        margin-bottom: 0;
        margin-left: 5%;
    }

    #menu-toggle:checked + .nav-menu-mobile {
        width: 200px;
        height: 250px;
    }

    nav ul {
        margin: 0;
    }

    .nav-menu-desktop {
        display: none;
    }
}